/*--------------------
    GENERAL STYLE
---------------------*/
html {
    font-family: monospace;
    font-size: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
    text-align: center;
  }
  
  li, a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li, a:hover {
    background-color: #111111;
  }

#home {
    text-align: center;
}

/*-----------------
    PHOTO STYLE
-----------------*/
img {
    float: left;
    width: 330px;
    height: 330px;
    object-fit: cover;
    padding: 21px;
}

/*-------------------
    INPUT STYLES
-------------------*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .sheet {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

input [type=text] {

}